body{
    font-family: Arial, Helvetica, sans-serif;
    /*
    Medidas absolutas:
        cm, mm, in(polegada), PX, pt, pc)
    Medidas relativas:
        EM(altura M maiúsculo de uma fonte), ex(altura x minúsculo de uma fonte), rem, vw(largura da tela// %), vh(altura da tela// %), %


        só usar PX OU EM ---> dando prioridade para EM
        geralmente:
        16px= 1em
    */
    font-size: 1em;
}