h1{ /*box-level// automaticamente display:block (é possivel mudar para inline!)*/
    height: 300px;
    width: 300px;
    background-color: antiquewhite;
    border-width: 10px;
    border-style: solid;
    border-color: #a15564;
    padding: 10px;
    color: #a15564;
    margin: auto;
    outline: 2px;
    outline-color: #eb9a9a48;
    outline-style: dashed;
}

a{ /*inline-level// automaticamente display: inline (pode mudar para block!)*/
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #a15564;
    text-decoration: none;
    padding: 1px;
    background-color: antiquewhite;
    color: #a15564;
}